<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <documentation>
        Use this plugin to build the documentation.
    </documentation>
    <arg name="-android" type="void">
        <documentation>
            Use this argument if you want to build the documentation for android.
        </documentation>
    </arg>
    <arg name="-extern" type="void">
        <documentation>
            Use this argument if you want to build the documentation for extern files.
        </documentation>
    </arg>
    <arg name="-html5" type="void">
        <documentation>
            Use this argument if you want to build the documentation for html5.
        </documentation>
    </arg>
    <arg name="-ios" type="void">
        <documentation>
            Use this argument if you want to build the documentation for ios.
        </documentation>
    </arg>
    <arg name="-full" type="void">
        <documentation>
            Use this argument if you want to build the documentation for every supported platform (android, html5, ios).
        </documentation>
    </arg>
    <arg name="-xml-only" type="void">
        <documentation>
            Use this argument if you only want to build the xml file(s) for the defined platform(s).
        </documentation>
    </arg>
    <arg name="-rebuild-std" type="void">
        <documentation>
            Use this argument if you want to rebuild the local Haxe std documentation (by default, if does not exist).
        </documentation>
    </arg>
    <arg name="-theme" type="string">
        <documentation>
            Use this argument if you want to build the documentation with a specific theme (located in template folder).
        </documentation>
    </arg>
</plugin>
